h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
    line-height: 4rem;
    transform: scaleX(1.1);
    padding-left: 1rem;
    /* Stretches the text horizontally without changing its height */
}


h3 {
    color: #65c865;
    font-size: 24px;
    margin: 0;
    /* padding: .2rem; */
}

.profilecontainer {
    height: 85vh;
    padding: 40px;
    background-color: #141823;
    color: white;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 10px;
}

.profilesection {
    display: flex;
    position: relative;
    top: 300px;
    gap: 2rem;
    /* outline: 1px red solid; */
}


.profilecontent {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    align-items: start;
    color: rgb(213, 213, 213);

}

.profilep {
    text-align: left;
    /* display: flex;
    position: relative; */

}

.imgdiv {
    width: 30%;
}

.profileimage {
    display: flex;
    position: relative;
    width: 80%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
}

.aboutbuttons {
    display: flex;
    gap: 1rem;
    /* outline: 1px red solid; */
}

.about-button {
    /* margin: 10px; */
    padding: 10px 20px;
    border: 0.1rem solid #67c867;
    color: rgb(213, 213, 213);
    background-color: #141823;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}

.about-button:hover,
.about-button:focus {
    /* margin: 10px; */
    background-color: #67c867;
    color: black;

}