h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
    line-height: 4rem;
    transform: scaleX(1.1);
    padding-left: 1rem;
    /* Stretches the text horizontally without changing its height */
}


h3 {
    color: #65c865;
    font-size: 24px;
    margin: 0;
    /* padding: .2rem; */
}